@font-face {
  font-family: "Gothamaniacitorialis";
  font-weight: 400;
  src: url("../../assets/fonts/font"); }

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  src: url("../fonts/Gotham-Medium.ttf"); }

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Gotham-Medium-Italic.ttf"); }

@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: url("../fonts/Gotham-Black.ttf"); }
